<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>home_page</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home_page.css">
    <link rel="stylesheet" href="/styles/header.css"> <!-- Подключаем CSS для шапки -->
    <link rel="stylesheet" href="/styles/footer.css"> <!-- Подключаем CSS для footera -->
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="home_page">Главная</a></li>
            <li><a href="reglogin">Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Добро пожаловать в HamsterClick!</h1>
    <div id="description">Для того чтобы начать играть тебе нужно авторизоваться!</div>
    <a href="login" id="playButton">Войти</a>
    <img id="previewImage" src="/photo/hamster3.png" alt="Хомяк" />
</main>

<footer>
    <p>&copy; 2023 HamsterClick. Все права защищены.</p>
    <p><a href="privacy.html">Политика конфиденциальности</a></p>
</footer>
</body>
</html>
