<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<main>
    <div id="display">Кликните на изображение!</div>
    <img id="clickableImage" src="/photo/hamster3.png" alt="Хомяк" />
    <div id="counter">Счет: 0</div>
    <audio id="audio" src="/audio/accompaniment.mp3" preload="auto"></audio>
</main>

<script src="/javascript/index.js"></script>
</body>
</html>
